@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyIceDream.Core.ViewModels.EditUserViewModel

@{
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Rediger bruger</h2>
            </div>
        </div>
    </div>
   <main>
   

    <div class="border p-3 mt-4">
        <div class="row pb-2">

            @using (Html.BeginForm("OnPost", "User"))
            {
                @Html.HiddenFor(h => @Model.User.Id);
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label asp-for="@Model.User.FirstName" class="form-label"></label>
                        <input asp-for="@Model.User.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="@Model.User.FirstName" class="text-danger">
                        </span>
                    </div>

                    <div class="col-sm-6">
                        <label asp-for="@Model.User.LastName" class="form-label"></label>
                        <input asp-for="@Model.User.LastName" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="@Model.User.LastName" class="text-danger">
                        </span>
                    </div>

                    <div class="col-12">
                        <label asp-for="@Model.User.Email" class="form-label"></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text"></span>
                            <input asp-for="@Model.User.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="@Model.User.Email" class="text-danger">
                            </span>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Roles</h4>

                <div class="my-3">
                    
                    @for (int i = 0; i < @Model.Roles.Count(); i++)
                    {
                        <div class="form-check">
                            @Html.CheckBoxFor(c => @Model.Roles[i].Selected)
                            @Html.HiddenFor(h => @Model.Roles[i].Value)
                            
                            @Html.LabelFor(l => @Model.Roles[i].Selected, @Model.Roles[i].Text, new {@class="form-check-label"})
                            @Html.HiddenFor(h => @Model.Roles[i].Text)
                        </div>
                    }
                </div>
 
                  <hr class="my-4">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <input type="submit" class="btn btn-primary w-75" value="Gem" />
                    </div>
                   <div class="col-6 col-md-3">
                     <a asp-action="Index" asp-controller="User" class="btn btn-primary ">TilBage</a>
                   </div>
                </div>
            }
        </div>
    </div>
</main>
</div>
</div>
<br/>

